﻿@model IEnumerable<KittInheritanceDemo.ViewModels.CompanyViewModel>

@{
    ViewBag.Title = "Companies";
}

<div class="container">
    <h1>Companies</h1>
    <ul>
        @foreach (var company in Model)
        {
            <li>@Html.ActionLink(company.Name, "Details", "Companies", new { id = company.CompanyId }, null)</li>
        }
    </ul>
</div>

