﻿@model IEnumerable<KittInheritanceDemo.ViewModels.PersonViewModel>

@{
    ViewBag.Title = "People";
}

<div class="container">
    <h1>People</h1>
    <ul>
        @foreach (var person in Model)
        {
            <li>@Html.ActionLink(person.FullName, "Details", "People", new { id = person.PersonId}, null)</li>
        }
    </ul>
</div>

