﻿@model KittInheritanceDemo.ViewModels.ICoreEntityHeaderViewModel

<ol class="breadcrumb">
    @foreach (var breadcrumb in Model.Breadcrumbs)
    {
        if (string.IsNullOrEmpty(breadcrumb.LinkUrl))
        {
            <li>@breadcrumb.LinkText</li>
        }
        else
        {
            <li><a href="@breadcrumb.LinkUrl">@breadcrumb.LinkText</a></li>
        }
    }
</ol>

<h1>@Model.HeaderText</h1>
@if (!@Model.IsActive)
{
    <h3><span class="label label-warning">Inactive</span></h3>
}


